
  .container{
    display :grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.5fr 0.2fr;
    grid-gap:1rem;

    grid-template-areas:
"nav nav content2 sidebar"  
"nav nav content2 sidebar"
"content3 footer footer sidebar"
"content3 footer footer sidebar"  ;
height: 100vh;
}
#ag{
    color:white;
}
.man{
    width: 100px;
}
.ay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:60%;
}
.umum{
    padding:20px
}
nav{
    border-radius: 10px;
    background-color: purple;
    grid-area: nav;
    
}
#sidebar{
    border-radius: 10px;
    background-color: cornflowerblue;
    grid-area: sidebar;
}

#content2{
    border-radius: 10px;
    background-color: gray;
    grid-area: content2;
    
}
#content3{
    border-radius: 10px;
    background-color:cornflowerblue;
    grid-area: content3;
    
}
footer{
    border-radius: 10px;
    background-color: black;
    grid-area: footer ;
}

@media screen and (max-width:1300px)
{
    .container{
        display :grid;
        grid-template-columns: 5fr;
        grid-template-rows: repeat 5(1fr);
        grid-gap:1rem;
    
        grid-template-areas:
    "nav "  
    "content2"
    "content3"
    "sidebar"
    "footer"  ;

}
}